html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body{
    background-image: url("https://github.com/MarcinKufel/currencyConverter/blob/master/images/image.jpg?raw=true");
    
}

.container {
    background-color: #ccc;
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
    border-radius: 5%;
    padding: 10px;
}

.header {
    color: black;
}

.header__header {
    font-weight: 700;
    margin: auto 10px;
    text-align: center;
    background-color:darkcyan;
    color: white;
    border-radius: 10px;
    padding: 10px
}


.button{
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    width: 100%;
}

.button:hover{
    background-color: hsl(180, 100%, 30%);
    }

.button:active{
    background-color: hsl(180, 100%, 35%);
    color: red;
}

.form{
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
}

.form__item {
    text-align: center;
}

.result {
    text-align: center;
}